.widgets-list {
    padding: 0;
}
.widgets-list > li {
    list-style: none;
}
#comments-list li {
    list-style: none;
}
.entry-meta {
    .well;
    .well-sm;
}

/* Admin Elements */
#wrapper.nav_sticky {
    margin-top: 70px;
}
.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}
.wp-admin .form-group {
    border-bottom: 1px solid #888;
    padding: 5px 0;
}
.wp-admin .form-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}