.entry-title a {
    color: @text-color;
}
.widgets-list {
    padding: 0;
}
.widgets-list > li {
    list-style: none;
}

.entry-meta {
    .panel-body;
}
.author-avatar {
    .pull-left;
    padding-right: @padding-small-vertical;
}
.author-avatar .avatar {
    height: ceil(@line-height-computed * 2);
    width: auto;
}
.entry-footer {
    .small;
    .panel-body;
}
.comment {
    .panel;
    .panel-default;
}
.comment-heading {
    .panel-heading;
}
.comment-body {
    .panel-body;
}
.comment-footer {
    .panel-footer;
}
.comment-meta {
    .pull-right;
}

/* Admin Elements */
#wrapper.nav_sticky {
    margin-top: 70px;
}
.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}
.wp-admin .form-group {
    border-bottom: 1px solid #888;
    padding: 5px 0;
}
.wp-admin .form-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}